::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}

:root {
  --vp-font-family-base: 'Caslon', 'Chinese Quotes', 'Inter var', 'Inter', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Microsoft YaHei', 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-font-family-mono: 'Monaspace Xenon', 'Microsoft YaHei', monospace;
  --vp-doc-top-height: 5rem;
  --vp-custom-block-font-size: 1.15rem;
}

#VPSidebarNav {
  margin-top: var(--vp-doc-top-height);
}

.vp-doc div[class*='language-'],
.vp-code-group .tabs,
.vp-code-group .tab {
  border-radius: 0 !important;
}

.vp-code-group .tabs {
  background: none;
}

.vp-code-group .tabs label {
  line-height: 2rem;
}

.main p {
  font-size: 1.18rem;
  line-height: 2.2rem;
}

.main blockquote p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.main li {
  font-size: 1.1rem;
  line-height: 2rem;
}

.main h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bolder;
  font-size: 3.7rem;
  line-height: 1.2em;
}

.main h2 {
  margin-top: 1.7rem;
  margin-bottom: 2rem;
  border-top: 0;
  font-size: 2.1rem;
  line-height: 1.2em;
}

h2 > a {
  text-decoration: none;
  opacity: 0.2;
}

h2 > a:hover {
  opacity: 0.9;
}

.VPSidebarItem.level-0 > .item > .text {
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.5;
}

.vp-doc :not(pre) > code {
  text-wrap: nowrap;
}
